<h2 style="color:orange;font-weight:bold;font-family:arial">Email Spam Detection and Filtering System</h2>
<h3 style="color:blue;font-weight:bold;font-family:arial">Samruddhi Khairnar</h3>

##### kbtug20170@kbtcoe.org

#### **Imports**

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

#### **Scraping Spam Emails from a Website**

In [2]:
r = requests.get('https://www.softwarepundit.com/email-marketing/email-spam-words#nogo')
soup = bs(r.content)

In [3]:
table = soup.body.find('table','Table--table')

In [4]:
td = table.find_all('td')
data = [str(tr.get_text()).strip() for tr in td]
data = [w for w in data if w.strip()!='']
df = pd.DataFrame(data)

In [5]:
df['Spam'] = 1
df.rename(columns={0:'Data'}, inplace=True)

In [6]:
df

                       Data  Spam
0                        4U     1
1           Free investment     1
2                    Only $     1
3       Accept credit cards     1
4                Free leads     1
..                      ...   ...
250  Online biz opportunity     1
251            Work at home     1
252       Free installation     1
253         Online pharmacy     1
254  You have been selected     1

[255 rows x 2 columns]

#### **Scraping Non-spam Emails from a Website**

In [7]:
r = requests.get('https://www.getmailbird.com/business-email-example/')
soup = bs(r.content)

In [8]:
data = soup.select('blockquote p i span')
data = [x.get_text() for x in data]
data = [w for w in data if w.strip()!='']
df2 = pd.DataFrame(data)

In [9]:
df2['Spam'] = 0
df2.rename(columns={0:'Data'}, inplace=True)

In [10]:
df2

                                                  Data  Spam
0                                     Hi [first name],     0
1    My name is [your name], and I’m the founder of...     0
2    I’m reaching out to check whether you’re accep...     0
3    We have already been featured in respectable p...     0
4    If you do publish content from guest authors, ...     0
..                                                 ...   ...
363  Have a question? We’re here to help. Contact u...     0
364                                      email address     0
365                           ] or [telephone number].     0
366                     We look forward to having you!     0
367                             [Your email signature]     0

[368 rows x 2 columns]

#### **Combining both DataFrames**

In [11]:
df_email = pd.concat([df, df2], ignore_index=True, axis=0)

#### **Randomizing the Records**

In [12]:
df_email = df_email.sample(frac=1).reset_index(drop=True)

In [13]:
df_email

                                                  Data  Spam
0                                         Best wishes,     0
1                                        [Your Post 1]     0
2                                          Free access     1
3    Thank you for signing up for [your company nam...     0
4                                  Accept credit cards     1
..                                                 ...   ...
618  The best way to find out more about [name of p...     0
619                           Hi [subscriber’s name],      0
620                                       Lowest price     1
621                   Discusses search engine listings     1
622                                       [Benefit #1]     0

[623 rows x 2 columns]

#### **Saving the Output as a CSV file**

In [14]:
df_email.to_csv('emails_scraped.csv', index=False)

In [15]:
df = pd.read_csv('emails_scraped.csv')
df

                                                  Data  Spam
0                                         Best wishes,     0
1                                        [Your Post 1]     0
2                                          Free access     1
3    Thank you for signing up for [your company nam...     0
4                                  Accept credit cards     1
..                                                 ...   ...
618  The best way to find out more about [name of p...     0
619                           Hi [subscriber’s name],      0
620                                       Lowest price     1
621                   Discusses search engine listings     1
622                                       [Benefit #1]     0

[623 rows x 2 columns]